@page "/ProdutoPage/{ProdutoId:int}"

<h3>Detalhes do Produto</h3>
<img src="imagem/produto1.png" alt="Produto" />
<img src="imagem/produto2.png" alt="Produto" />
<p>Nome: Caçamba de 500L</p>
<p>Capacidade: 500L</p>
<p>Especificações: Ideal para projetos médios.</p>
<a class="whatsapp" href="https://wa.me/?text=Olá, tenho interesse na Caçamba de 500L na cor Verde">
    Comprar pelo WhatsApp
</a>
